.html-clock {
	display: inline-block;
}

.wclock {
	overflow: hidden;
	padding: 4px;
	display: inline-block;
	width: 120px;
	border-radius: 60px 60px 0 0;
}

.ts-light .wclock {
	border: 1px solid black;
	background-color: #fff;
}

.ts-light .wclock h3 {
	color: #000;
}

.ts-dark .wclock {
	border: 1px solid #ddd;
	background-color: #666;
}

.ts-dark .wclock h3 {
	color: #fff;
}

.wclock h3 {
	text-align: center;
}
